# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.dist-info/

# Virtual environments
.venv/
venv/

# Env files
.env

# Caches
.cache/
.pytest_cache/
.mypy_cache/

# Notebooks
.ipynb_checkpoints/

# Data
/data/

# OS
.DS_Store
Thumbs.db
